h1 {
	font: 100 36px 'Open Sans';
	text-align: center;
}
li, p, a {
	font: 300 16px 'Open Sans';
}
a {
	color: #000;
}
a:visited {
	color: #555;
}
html {
	background-color: #000;
}
body {
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}
header {
	box-sizing: border-box;
	position: relative;
	height: 40vh;
	width: 100%;
	/*animation: logo_slide_1 0.7s ease-in-out 2s forwards;*/
}
.container {
	padding: 20px 35px;
}
footer {
	background-color: #eee;
	padding: 20px 0px 40px;
	text-align: center;
}

#border {
	position: fixed;
	box-sizing: border-box;
	pointer-events: none;
	border: 0px solid black;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	/*animation: border_fade_1 1s ease 0.5s forwards;*/
	animation: border_fade_1 0.8s ease-out forwards;
	z-index: 99;
}
#logo {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	opacity: 0;
	/*animation: logo_fade_1 1s ease-in-out 0.5s forwards;*/
	animation: logo_fade_1 0.75s ease-in-out forwards;
}

p.blurb {
	text-align: center;
	max-width: 1000px;
	margin: auto;
}

/* GRIDS */
ul.grid {
	max-width: 1000px;
	margin: auto;
	padding: 0;
	list-style: none;
	text-align: center;
}

.b1-wrap {
	display: inline-block;
	margin: 20px;
	width: 250px;
	height: 200px;
	text-align: center;
	vertical-align: top;
}
ul.grid h2 {
	display: inline-block;
	font-size: 24px;
	font-weight: 100;
	margin: 10px 0px;
	padding: 0px 8px 4px;
	background-image: linear-gradient(#333, #333);
	background-position: bottom center;
	background-size: 20px 2px;
	background-repeat: no-repeat;
	transition: background-size 0.4s;
}
ul.grid a {
	text-decoration: none;
}
ul.grid p {
	margin: 10px 0px;
}

/* BUTTON 1 */
.b1-icon {
	display: block;
	position: relative;
	margin: auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	color: #000;
}

.b1-icon > span {
	position: absolute;
	box-sizing: border-box;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	/*border: 2px solid #000;*/
	border-radius: 50%;
	background-color: #eee;
	transition: opacity 0.4s;
}

.b1-icon > span.red { background-color: #FDC7C9; } /* #fb0009 */
.b1-icon > span.green { background-color: #BAF0C7; } /* #28ca54 */
.b1-icon > span.blue { background-color: #B0CAE0; } /* #0c5ea1 */
.b1-icon > span.purple { background-color: #DEC6F5; } /* #f0f */

.b1-icon > i {
	position: absolute;
	top: 50%;
	left: 51%;
	transform: translate(-50%, -50%);
	font-size: 55px;
	transition: font-size 0.4s;
}

.b1-wrap:hover h2 {
	/*animation: b1_underline 0.4s ease-out both;*/
	background-size: 100% 2px;
}
.b1-wrap:hover span {
	opacity: 1;
	/*animation: b1_ring_fade 0.4s ease-out forwards;*/
}
.b1-wrap:hover i {
	font-size: 62px;
	/*animation: b1_icon_zoom 0.2s ease-out forwards;*/
}


/* ANIMATIONS */
@keyframes border_fade_1 {
	from { border-width: 0px; }
	to { border-width: 20px; }
}

@keyframes logo_fade_1 {
	from {
		transform: translateY(-60px);
		opacity: 0;
	}
	to {
		transform: none;
		opacity: 1;
	}
}

@keyframes logo_slide_1 {
	from { height: 100vh; }
	to { height: 50vh; }
}

@keyframes b1_ring_fade {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes b1_icon_zoom {
	from { font-size: 55px; }
	to { font-size: 62px; }
}




