{% extends "base.html" %}

{% block title %}
<title>Adam Miller's Space - Portfolio</title>
{% endblock %}

{% block body %}
<div id="border"></div>
<img src="{{ url_for('static', filename='logo_full.svg') }}" draggable="false" width="300">

<div class="container pf-entry">
	<div class="heading">
		<span class="slash"></span><h1>{{ item.name }}</h1><span class="slash"></span>
	</div>
	<p><i>{{ item.date_start }}{{ (" - " + item.date_end) if item.date_end else "" }}</i></p>
	<hr class="short">
	<p>{{ item.desc_full }}</p>
	<img class="shadow" src="{{ url_for('static', filename=item.cover_img) }}" width="500">
	{% if item.link %}
	<a href="{{ item.link }}" target="blank"><p>//&ensp;View it live&ensp;//</p></a>
	{% endif %}
</div>

{% endblock %}