<!DOCTYPE html>
<html>
<head>
	<link id="favicon" rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon2.png') }}"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='spotify.css') }}">
	<title>What I'm listening to...</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='visualizer.js') }}"></script>
</head>
<body>
	<h1>Here's what I'm listening to:</h1>
	<div id="loading">
		<p>Loading...</p>
	</div>
	<div id="wilt"></div>
	<script type="text/javascript" src="{{ url_for('static', filename='wilt.js') }}"></script>
</body>
</html>