h1 {
	font: 100 36px 'Open Sans';
	text-align: center;
}
p, a, li, label {
	font: 300 18px 'Open Sans';
}
a {
	color: #222;
}
a:visited {
	color: #555;
}
html {
	background-color: #222;
}
body {
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}
header {
	box-sizing: border-box;
	position: relative;
	height: 40vh;
	width: 100%;
	/*animation: logo_slide_1 0.7s ease-in-out 2s forwards;*/
}
.container {
	padding: 20px 35px;
}
footer {
	background-color: #eee;
	padding: 20px 0px 40px;
	text-align: center;
}
hr.short {
	width: 50px;
	background-color: #666;
	height: 1px;
	border: none;
	margin-bottom: 25px;
}
img.shadow {
	border-radius: 6px;
	box-shadow: 2px 2px 12px -2px;
}

#border {
	position: fixed;
	box-sizing: border-box;
	pointer-events: none;
	border: 0px solid #222;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	/*animation: border_fade_1 1s ease 0.5s forwards;*/
	animation: border_fade_1 0.8s ease-out forwards;
	z-index: 99;
}
#logo {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	opacity: 0;
	/*animation: logo_fade_1 1s ease-in-out 0.5s forwards;*/
	animation: logo_fade_1 0.75s ease-in-out forwards;
}

p.blurb {
	text-align: center;
	max-width: 1200px;
	margin: 1rem auto 2rem;
}

.heading {
	text-align: center;
	margin-bottom: 1rem;
}
.heading > * {
	display: inline-block;
	vertical-align: middle;
}
.heading .slash {
	margin: 0px 40px;
	vertical-align: middle;
	height: 60px;
	width: 2px;
	background-color: #000;
	transform: rotate(15deg);
}

/* GRIDS */
ul.grid {
	max-width: 1000px;
	margin: auto;
	padding: 0;
	list-style: none;
	text-align: center;
}
ul.grid * {
	outline: none;
}

.b1-wrap {
	display: inline-block;
	margin: 20px;
	width: 250px;
	height: 200px;
	text-align: center;
	vertical-align: top;
}
ul.grid h2 {
	display: inline-block;
	font-size: 24px;
	font-weight: 100;
	margin: 10px 0px;
	padding: 0px 8px 4px;
	background-image: linear-gradient(#333, #333);
	background-position: bottom center;
	background-size: 20px 2px;
	background-repeat: no-repeat;
	transition: background-size 0.4s;
}
ul.grid > li:hover h2 {
	background-size: 100% 2px;
}
.b1-wrap a {
	text-decoration: none;
}
ul.grid p {
	margin: 10px 0px;
}

/* BUTTON 1 */
.b1-icon {
	display: flex;
  align-items: center;
  justify-content: center;
	position: relative;
	margin: auto;
	width: 100px;
	height: 100px;
}

.b1-icon > span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 50%;
	background-color: #eee;
	transition: opacity 0.4s;
}

.b1-icon > span.red { background-color: #FDC7C9; } /* #fb0009 */
.b1-icon > span.green { background-color: #BAF0C7; } /* #28ca54 */
.b1-icon > span.blue { background-color: #B0CAE0; } /* #0c5ea1 */
.b1-icon > span.purple { background-color: #DEC6F5; } /* #f0f */

.b1-icon > img {
  z-index: 10;
	transition: all 0.4s;
}

.b1-wrap:hover h2 {
	/*background-size: 100% 2px;*/
}
.b1-wrap:hover span {
	opacity: 1;
}
.b1-wrap:hover img {
	transform: scale(1.2);
}

/* PORTFOLIO */
#portfolio {
	max-width: 1300px;
}
.pf-wrap {
	display: inline-block;
	vertical-align: top;
	margin: 20px;
	width: 380px;
}
.pf-cover {
	display: block;
	position: relative;
	height: 250px;
}
.pf-img {
	max-height: 250px;
	border-radius: 6px;
}
.pf-gif {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	box-shadow: none;
	opacity: 0;
}
.pf-gif:hover {
	opacity: 1;
}
.pf-entry {
	max-width: 1500px;
	margin: auto;
	text-align: center;
}


/* ANIMATIONS */
@keyframes border_fade_1 {
	from { border-width: 0px; }
	to { border-width: 20px; }
}
@keyframes logo_fade_1 {
	from {
		transform: translateY(-60px);
		opacity: 0;
	}
	to {
		transform: none;
		opacity: 1;
	}
}
@keyframes logo_slide_1 {
	from { height: 100vh; }
	to { height: 50vh; }
}
@keyframes b1_ring_fade {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes b1_icon_zoom {
	from { font-size: 55px; }
	to { font-size: 62px; }
}


/* MOBILE */
@media screen and (max-width: 600px) {
	#border {
		animation: none;
	}
	#logo {
		animation: none;
		opacity: 1;
	}
	.container {
		padding: 20px;
	}
	header {
		height: 30vh;
	}
	h1 {
		font-size: 30px;
	}
	.heading .slash {
		height: 50px;
		margin: 0px 30px;
	}
}
